Repository selenide/selenide-appium, pull requests merged in 2023-05, with the labels that each got.

#161 Bump appium from 8.3.0 to 8.4.0
  gradle/dependencies.gradle
Labels: dependencies

#164 2.8.0: support new Selenide method $.dragAndDrop(options)
  CHANGELOG
  build.gradle
  gradle/dependencies.gradle
  src/main/java/com/codeborne/selenide/appium/commands/AppiumDragAndDropTo.java
  src/main/java/com/codeborne/selenide/appium/commands/SelenideAppiumCommands.java
  src/test/java/integration/android/AndroidDragAndDropTest.java
Labels: dependencies, feature

#151 find element based on android or ios driver
  src/main/java/com/codeborne/selenide/appium/SelenideAppium.java
  src/test/java/integration/android/AndroidSelectorsTest.java
Labels: feature

#170 Fix ios build
  .github/workflows/test.yml
  .run/android tests.run.xml
  .run/ios tests.run.xml
  .run/unit-tests.run.xml
  src/test/java/integration/ios/DeepLinkUrlIosTest.java
  src/test/java/integration/ios/driverproviders/IosDriverProvider.java
Labels: build
